doctype html
html(lang="en")
      head
            include includes/head
            title SmmGuard
      body
            header(class="header hp-header" id="hp-header")
                  ._container 
                        include includes/header

            main
                  section(class="intro hp-intro")
                        ._container 
                              .inner__intro 
                                    .intro-text
                                          h1.main-title.intro-text__title SmmGuard - defendig your popularity
                                          .intro-text__image
                                                img(src="img/sm.png")
                                          p.intro-text__info SmmGuard is high-quality likes, reposts, comments, and other promotion services for all popular social networks at affordable prices.
                                          .intro-text__button-wrapper 
                                                a(href="#" class="btn solid-btn intro-text__solid") Services
                                    .intro-image
                                          a(href="" class="intro-image__illustration")
                                                img(src="img/illustration-bg.png")
                                                .intro-image__illustration-block.intro-image__illustration-block-1
                                                      img(src="img/comp-screen-1.png")
                                                .intro-image__illustration-block.intro-image__illustration-block-2
                                                      img(src="img/comp-screen-2.png")
                                                .intro-image__illustration-block.intro-image__illustration-block-3
                                                      img(src="img/comp-screen-3.png;")

            //-       section(class="quick-order")
            //-             ._container 
            //-                   .title-block
            //-                         h2.second-main-title.title-block__title Quick Order
            //-                         span.title-block__span.subtitle Registration is NOT required
            //-                   include includes/order-form

            //-       section(class="trigger-section")
            //-             ._container
            //-                   .title-block.trigger-title-block
            //-                         h2.second-main-title.title-block__title You can trust us!
            //-                         span.title-block__span.subtitle More than 100 000 orders accomplished
            //-                   .trigger-section__content  
            //-                         div.big-trigger__block
            //-                               img(src="img/big-trigger.svg")
            //-                         .triggers 
            //-                               .trigger-block 
            //-                                     div.trigger-block__icon
            //-                                           img(src="img/icons/trust.svg" alt="Trust")
            //-                                     h4.trigger-block__title Trust
            //-                                     p.trigger-block__text Thousands of people trust us with their popularity.
            //-                               .trigger-block 
            //-                                     div.trigger-block__icon 
            //-                                           img(src="img/icons/low-prices.svg" alt="Low prices")
            //-                                     h4.trigger-block__title Low Prices
            //-                                     p.trigger-block__text Best price-quality rate on the market.
            //-                               .trigger-block 
            //-                                     div.trigger-block__icon
            //-                                           img(src="img/icons/success.svg" alt="100% success")
            //-                                     h4.trigger-block__title 100% success
            //-                                     p.trigger-block__text We guarantee the fulfillment of all orders completely.
            //-                               .trigger-block 
            //-                                     div.trigger-block__icon 
            //-                                           img(src="img/icons/reliability.svg" alt="Reliability")
            //-                                     h4.trigger-block__title Reliability
            //-                                     p.trigger-block__text High quality service and support.
                                                      
            //-       section(class="reviews-section")
            //-            ._container 
            //-                   .title-block
            //-                         h2.second-main-title.title-block__title We have lots of good reviews
            //-                         span.title-block__span.subtitle People trust us!
            //-                   .reviews-section__wrapper     
            //-                         .review-card 
            //-                               .user-info
            //-                                     .user-pic-block 
            //-                                           img(src="img/icons/user.png" alt="user")
            //-                                     .post-info 
            //-                                           .user-name-block 
            //-                                                 span.user-name Hellen Suck
            //-                                           .post-date 
            //-                                                 span.post-date__value 07/05/22 at 8:07 pm
            //-                                     .given-rate
            //-                                           span.given-rate__value 3/5
            //-                               .user-review Просили люди проверить,я проверил,заказал лайки для одного канала,около часа ушло на выполнение работы,но это ещё не всё,накрутили чуть
            //-                               button(class="read-more-btn" type="button") Read more
            //-                         .review-card 
            //-                               .user-info
            //-                                     .user-pic-block 
            //-                                           img(src="img/icons/user.png" alt="user")
            //-                                     .post-info 
            //-                                           .user-name-block 
            //-                                                 span.user-name Hellen Suck
            //-                                           .post-date 
            //-                                                 span.post-date__value 07/05/22 at 8:07 pm
            //-                                     .given-rate
            //-                                           span.given-rate__value 3/5
            //-                               .user-review Просили люди проверить,я проверил,заказал лайки для одного канала,около часа ушло на выполнение работы,но это ещё не всё,накрутили чуть 
            //-                               button(class="read-more-btn" type="button") Read more
            //-                         .review-card 
            //-                               .user-info
            //-                                     .user-pic-block 
            //-                                           img(src="img/icons/user.png" alt="user")
            //-                                     .post-info 
            //-                                           .user-name-block 
            //-                                                 span.user-name Hellen Suck
            //-                                           .post-date 
            //-                                                 span.post-date__value 07/05/22 at 8:07 pm
            //-                                     .given-rate
            //-                                           span.given-rate__value 3/5
            //-                               .user-review Просили люди проверить,я проверил,заказал лайки для одного канала,около часа ушло на выполнение работы,но это ещё не всё,накрутили чуть 
            //-                               button(class="read-more-btn" type="button") Read more
            //-                   a(href="#" class="btn solid-btn solid-btn-reviews ") All reviews       
                               
            //-       section(class="faq")
            //-             ._container 
            //-                   .title-block
            //-                         h2.second-main-title.title-block__title Most frequent questions
            //-                         span.title-block__span.subtitle Haven't found an answer yet? 
            //-                               a(href="#" class="msg-us") Message us!
            //-                   .faq-block 
            //-                         .faq-card 
            //-                               h6.faq-card__title How this service works?
            //-                               p.faq-answear.hidden Yes, absolutely! Your account won’t get any restrictions, because all the activity is going to be from real people.
            //-                         .faq-card 
            //-                               h6.faq-card__title How long should I wait to get the result?
            //-                               p.faq-answear.hidden Yes, absolutely! Your account won’t get any restrictions, because all the activity is going to be from real people.
            //-                         .faq-card.active
            //-                               h6.faq-card__title Is this safe?
            //-                               p.faq-answear Yes, absolutely! Your account won’t get any restrictions, because all the activity is going to be from real people.
            //-                         .faq-card 
            //-                               h6.faq-card__title How can I be sure that the order will be done?
            //-                               p.faq-answear.hidden Yes, absolutely! Your account won’t get any restrictions, because all the activity is going to be from real people.
            //-                         .faq-card 
            //-                               h6.faq-card__title Can I make order without registration?
            //-                               p.faq-answear.hidden Yes, absolutely! Your account won’t get any restrictions, because all the activity is going to be from real people.
            //-                         .faq-card
            //-                               h6.faq-card__title What should I do if I gave incorrect link?
            //-                               p.faq-answear.hidden Yes, absolutely! Your account won’t get any restrictions, because all the activity is going to be from real people.
                                    
            //- footer(class="footer" id="footer")
                  ._container
                        .footer-content 
                              .footer-content__item.footer-info 
                                    .footer-info__logo 
                                          a(href="index.html" class="footer-info__logo-link")
                                                img(src="img/icons/logo-bw.svg")
                                    h6.footer-info__desc Service for promotion of Instagram, Telegram and other SM's.
                                    .contact-us-block 
                                          a(href="#" class="contact-us-btn telegram-btn")
                                          a(href="#" class="contact-us-btn email-btn")
                              .footer-content__item.footer-nav 
                                    h3.footer-content__title Navigation
                                    ul.footer-content__list
                                          li.footer-content__list-item 
                                                a(href="#" class="footer-content__link") Services
                                          li.footer-content__list-item 
                                                a(href="#" class="footer-content__link") Reviews
                                          li.footer-content__list-item 
                                                a(href="#" class="footer-content__link") Help
                                          li.footer-content__list-item
                                                a(href="#" class="footer-content__link") Contacts
                              .footer-content__item.footer-personal-cab
                                    h3.footer-content__title Personal Cabinet 
                                    ul.footer-content__list
                                          li.footer-content__list-item 
                                                a(href="#" class="footer-content__link") Cabinet
                                          li.footer-content__list-item 
                                                a(href="#" class="footer-content__link") Deposit
                                          li.footer-content__list-item 
                                                a(href="#" class="footer-content__link") Order history
                                          li.footer-content__list-item
                                                a(href="#" class="footer-content__link") Settings
                              .footer-content__item.footer-payment-info
                                    h3.footer-content__title You can pay with
                                    
                                    img(src="img/icons/mc.png" alt="Master Card")
                        
                                    img(src="img/icons/visa.png" alt="Visa")
                        
                                    img(src="img/icons/gpay.png" alt="Google Pay")
                        
                                    img(src="img/icons/apay.png" alt="Aple Pay")
                        .privacy-block 
                              ul.privacy-list 
                                    li.privacy-list__item 
                                          a(href="#" class="footer-link") Public offer
                                    li.privacy-list__item 
                                          a(href="#" class="footer-link") Cookies policy
                                    li.privacy-list__item 
                                          a(href="#" class="footer-link") Privacy policy

                              .rifhts-reserved
                                    p.rifhts-reserved__text © 2021 All rights reserved