// * TRANSITIONS
$tr-nav-btn: 0.2s linear;
$tr-animate: all 0.3s ease-in-out;

// * COLOR
$textColor: #545454;
$subtitle: #78A1CF;
$review-bg: #F8FAFD;
$solidBtnColor: #3990F1;
$solidBtnClHover: #555d66;
$transpBtnColor: transparent;
$faqCard: #F8FAFD;
$faqCardHover: #EEF5FF;

// * BUTTONS